@import "vars";
@import "global";
@import "fonts";

// Header
.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}
.header__text {
  margin-left: auto;
  margin-right: 50px;
  span {
    color: $red;
  }
}
.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.header__btn-login {
  background-color: $green;
}
.header__btn-register {
  background-color: $red;
  margin-left: 7px;
}
// Menu
.header__menu {
  background-color: $bg;
}
.menu {
  display: flex;
  align-items: center;
  height: 60px;
}
.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 30px;
    }
  }
  a {
    color: #fff;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 14px;
  }
}
// Search box
.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 532px;
}
.search__inner {
  padding: 140px 0px 80px;
  color: #fff;
  text-align: center;
  &-title {
    font-size: 48px;
    line-height: 75px;
    padding-bottom: 10px;
    font-weight: 700;
  }
  &-text {
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input {
      height: 56px;
      font-weight: 500;
      border-radius: 3px;
      margin: 0 auto;
      border: none;
      font-size: 14px;
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      padding-left: 25px;
      padding-right: 60px;
      outline: none;
      &:focus {
        border: 1px solid rgb(71, 168, 47);
      }
      // Цвет текста в форме
      &::placeholder {
        color: #90a4ae;
        font-weight: 500;
      }
    }
    button {
      position: absolute;
      border: none;
      background-color: transparent;
      right: 13px;
      top: 15px;
      img {
        height: 25px;
        width: 25px;
      }
    }
  }
}
// Middle__section
.middle__newest {
  min-height: 1394px;
  width: 100%;
  background-color: #f4f6f5;
}
.newest__inner-title {
  color: #263238;
  line-height: 54px;
  padding-top: 115px;
  h2 {
    text-align: center;
    padding-bottom: 56px;
  }
}
.newest__inner-tab {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  button {
    display: inline-block;
    padding: 10px 25px;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 14px;
    border: none;
    cursor: pointer;
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}
.newest__all-products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__item {
  min-height: 410px;
  min-width: 442px;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  &-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 250px;
    width: 100%;
  }
  &-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    padding: 0 30px;
    .item__text {
      &-name {
        font-family: "Roboto-Medium", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: $bg;
      }
      &-prof {
        font-family: "Roboto-Medium", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: $green;
      }
    }
    .item-price {
      font-family: "Roboto-Bold", sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: $bg;
    }
  }
  &-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    min-height: 70px;
    border-top: 1px solid #e7ecf2;
    .author-link {
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      height: 32px;
      width: 32px;
    }
    span {
      position: absolute;
      display: inline-block;
      font-family: "Roboto-Medium", sans-serif;
      font-weight: 400;
      margin-right: auto;
      top: 5px;
      left: 41px;
    }
    .author-rating {
      font-size: 12px;
      .rate-star {
        display: inline-block;
      }
    }
  }
}
.inner__button {
  display: flex;
  justify-content: center;
  &-all {
    padding: 46px 0 110px 0;
    button {
      display: inline-block;
      padding: 10px 25px;
      font-family: "Roboto-Medium", sans-serif;
      font-size: 14px;
      border: none;
      cursor: pointer;
      &.mixitup-control-active {
        background-color: $red;
        color: #fff;
      }
    }
  }
}

.middle__trending {
  min-height: 825px;
  width: 100%;
}

.trending__inner-title {
  color: $bg;
  padding: 126px 0 64px;
  h2 {
    text-align: center;
  }
}
.trending__inner-products {
  .slick {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;

    &-slide {
      margin: 0 15px;
    }

    &-list {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  ul {
    text-align: center;
    padding: 35px 0 120px;
    li {
      display: inline-block;
      & + li {
        margin-left: 7px;
      }
      button {
        width: 16px;
        height: 16px;
        border: none;
        background-color: #e8e8e8;
        border-radius: 50%;
        font-size: 0;
      }
    }
    .slick-active {
      button {
        background-color: $green;
      }
    }
  }
}
